<header>
<h1>Kokoiko</h1>
  <div class="header-list">
  <ul>
    <li><%= link_to "HOME", posts_path %></li>
    <li><%= link_to "新規投稿",new_post_path %></li>
    <li><%= link_to "説明", posts_top_path %></li>
    <% if user_signed_in? %>
  <li><%= link_to "マイページ", user_path(current_user.id) %>
  </li>
<% else %>
  
<li><%= link_to "ログイン", new_user_session_path %></li>
<% end %>
 </ul>
  </div>
  </header>




<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> </em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録する" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
